<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fashion.mapper.AddressBookMapper">

    <!-- 插入地址 -->
    <insert id="insert" parameterType="com.fashion.entity.AddressBook">
        insert into address_book (
            user_id, consignee, sex, phone, province_code, province_name, city_code, city_name, 
            district_code, district_name, detail, label, is_default
        ) values (
            #{userId}, #{consignee}, #{sex}, #{phone}, #{provinceCode}, #{provinceName}, #{cityCode}, #{cityName},
            #{districtCode}, #{districtName}, #{detail}, #{label}, #{isDefault}
        )
    </insert>

    <delete id="deleteByIdAndUserId">
        delete from address_book where id = #{id} and user_id = #{userId}
    </delete>

    <update id="updateByIdAndUserId">
        update address_book
        <set>
            <if test="addressBook.consignee != null">consignee = #{addressBook.consignee},</if>
            <if test="addressBook.sex != null">sex = #{addressBook.sex},</if>
            <if test="addressBook.phone != null">phone = #{addressBook.phone},</if>
            <if test="addressBook.provinceCode != null">province_code = #{addressBook.provinceCode},</if>
            <if test="addressBook.provinceName != null">province_name = #{addressBook.provinceName},</if>
            <if test="addressBook.cityCode != null">city_code = #{addressBook.cityCode},</if>
            <if test="addressBook.cityName != null">city_name = #{addressBook.cityName},</if>
            <if test="addressBook.districtCode != null">district_code = #{addressBook.districtCode},</if>
            <if test="addressBook.districtName != null">district_name = #{addressBook.districtName},</if>
            <if test="addressBook.detail != null">detail = #{addressBook.detail},</if>
            <if test="addressBook.label != null">label = #{addressBook.label},</if>
            <if test="addressBook.isDefault != null">is_default = #{addressBook.isDefault},</if>
        </set>
        where id = #{addressBook.id} and user_id = #{userId}
    </update>

    <select id="getByIdAndUserId" resultType="com.fashion.entity.AddressBook">
        select * from address_book where id = #{id} and user_id = #{userId}
    </select>

    <!-- 查询用户的地址列表 -->
    <select id="listByUserId" parameterType="long" resultType="com.fashion.entity.AddressBook">
        select * from address_book where user_id = #{userId} order by is_default desc, id desc
    </select>

    <!-- 查询用户的默认地址 -->
    <select id="getDefaultByUserId" parameterType="long" resultType="com.fashion.entity.AddressBook">
        select * from address_book where user_id = #{userId} and is_default = 1
    </select>

    <!-- 将用户的所有地址设置为非默认 -->
    <update id="resetDefaultByUserId" parameterType="long">
        update address_book set is_default = 0 where user_id = #{userId}
    </update>

</mapper>
